body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#quote-box {
  border-radius:3px;
  /* opacity: 60%; */
  position:relative;
  margin:8% auto auto auto;
  height: 30vh;
  width:40%;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}

.full-bg-size { 
  background: url('./assets/wor.jpg') no-repeat center center fixed; 
  background-repeat: no-repeat; 
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}